/* LOGO */

@media screen {
	#banner .inner header h2 {
		border: 0;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		background: url(../../images/Logos/logo_weiss.svg);
		background-size: 400px 100px;
		width: 400px;
		height: 100px;
	}
}

@media screen and (max-width: 500px) {
	#banner .inner header h2 {
		background-size: 300px 75px;
		width: 300px;
		height: 75px;
	}
}

.content ul {
	list-style: disc;
    padding-left: 1em;
}
.content ul li {
    padding-left: 0.5em;
}

.content table td { padding-right: 1em; }

iframe { margin: 0 0 2em 0; }

ul.dropotron li.current a { color: #83d3c9; }
