{% extends 'partials/base.html.twig' %}

{% block content %}
<article id="main">
    <header class="special container">
        <span class="icon fa-{{ page.header.icon ?: 'thumbs-up' }}"></span>
        <h2>{{ page.header.title }}</h2>
    </header>

    <section class="wrapper container 75% {{ page.header.content_class ?: 'style4 special' }} ">
        <div class="content">
          {{ page.content|raw }}
        </div>

    </section>

</article>
{% endblock %}
